.review-form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  text-align: left; /* Align everything to the left */
}

.review-form input[type="text"],
.review-form input[type="number"],
.review-form input[type="date"],
.review-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.review-form textarea {
  resize: vertical;
  height: 100px;
  line-height: 1.2;
}

.review-form button {
  background-color: #007bff; /* Blue background for submit button */
  color: white;
  border: none;
  border-radius: 8px; /* Rounded corners */
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 10px; /* Space above the button */
}

.review-form button:hover {
  background-color: #0056b3; /* Darker shade for hover */
}

.review-form input::placeholder,
.review-form textarea::placeholder {
  color: #aaa;
}
