.review {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  line-height: 0.6;
}

.review h2 {
  color: #333;
  margin-bottom: 10px;
}

.review p {
  color: #666;
  font-size: 14px;

}

.review p.title {
  font-weight: bold;
  margin-top: 10px;
  color: #4a4a4a; /* Darker shade for titles */
}

.review a {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.review button {
  background-color: #d9534f; /* Red background */
  border-radius: 8px; /* Rounded corners */
  margin-top: 10px; /* Space above the button */
  margin-left: 0; /* Align to the left */
  width: fit-content;
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.review button:hover {
  background-color: #c9302c; /* Darker shade for hover effect */
}
